// Navigation Styles here

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;

    a{
        color:@shark;
        text-decoration:none;
        font-size:2rem;
    }
    
}

.headBox{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin: 5% 0;
    
}

.headBoxTwo{
    display:flex;
    flex-direction:column;
    border-top: 2px dashed @navigation-border;
    width:120%;
    margin-left: -10%;
    padding: 0 10%
}